@if (isLoading()) { <app-spinner /> }
<div class="min-h-screen flex items-center justify-center p-4">
  <div class="bg-white rounded-2xl shadow-md p-8 w-full max-w-md">
    <!-- Tabs -->
    <div class="flex bg-secondColor rounded-xl p-1 mb-7">
      <a
        routerLink="/login"
        class="flex-1 text-center py-2 rounded-lg font-semibold text-sm text-gray-500">
        Login
      </a>
      <a
        routerLink="/register"
        class="flex-1 text-center py-2 rounded-lg font-semibold text-sm text-gray-800 bg-white shadow-sm">
        Register
      </a>
    </div>

    <!-- Header -->
    <h2 class="text-2xl font-bold text-gray-900 mb-1">Create a new account</h2>
    <p class="text-sm text-blue-500 mb-6">Register Now </p>

    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      @if (apiError()) {
      <div
        class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        <span class="font-medium">Error!</span> {{ apiError() }}
      </div>
      }

      <!--  name -->
      <div class="relative">
        <i
          class="fa-regular fa-user absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
        <input
          type="text"
          formControlName="name"
          placeholder="Full name"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-4 text-sm focus:outline-none focus:border-mainColor" />
      </div>
      @if (fieldError('name')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('name') }}
      </div>
      }

      <!-- Username -->
      <div class="relative mt-3">
        <i
          class="fa-solid fa-at absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
        <input
          type="text"
          formControlName="username"
          placeholder="Username"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-4 text-sm focus:outline-none focus:border-mainColor" />
      </div>
      @if (fieldError('username')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('username') }}
      </div>
      }

      <!-- Email  -->
      <div class="relative mt-3">
        <i
          class="fa-solid fa-at absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
        <input
          type="email"
          formControlName="email"
          placeholder="Email address"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-4 text-sm focus:outline-none focus:border-mainColor" />
      </div>
      @if (fieldError('email')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('email') }}
      </div>
      }

      <!-- dateOfBirth  -->
      <div class="relative mt-3">
        <i
          class="fa-regular fa-calendar absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm pointer-events-none"></i>
        <input
          type="date"
          formControlName="dateOfBirth"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-4 text-sm focus:outline-none focus:border-mainColor text-gray-400" />
      </div>
      @if (fieldError('dateOfBirth')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('dateOfBirth') }}
      </div>
      }

      <!-- Gender -->
      <div class="relative mt-3">
        <i
          class="fa-solid fa-user-group absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm pointer-events-none"></i>
        <select
          formControlName="gender"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-4 text-sm focus:outline-none focus:border-mainColor bg-white text-gray-400 cursor-pointer">
          <option value disabled selected>Select gender</option>
          <option value="male" class="text-gray-800">Male</option>
          <option value="female" class="text-gray-800">Female</option>
        </select>
      </div>
      @if (fieldError('gender')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('gender') }}
      </div>
      }

      <!-- Password -->
      <div class="relative mt-3">
        <i
          class="fa-solid fa-key absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm rotate-45"></i>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-10 text-sm focus:outline-none focus:border-mainColor" />
        <button
          type="button"
          (click)="showPassword.set(!showPassword())"
          class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600">
          <i
            [class]="showPassword() ? 'fa-solid fa-eye-slash text-sm' : 'fa-solid fa-eye text-sm'"></i>
        </button>
      </div>
      @if (fieldError('password')) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ fieldError('password') }}
      </div>
      }

      <!-- rePassword -->
      <div class="relative mt-3">
        <i
          class="fa-solid fa-key absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-sm rotate-45"></i>
        <input
          [type]="showRePassword() ? 'text' : 'password'"
          formControlName="rePassword"
          placeholder="Confirm password"
          class="w-full border border-gray-200 rounded-xl py-3 pl-10 pr-10 text-sm focus:outline-none focus:border-mainColor" />
        <button
          type="button"
          (click)="showRePassword.set(!showRePassword())"
          class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600">
          <i
            [class]="showRePassword() ? 'fa-solid fa-eye-slash text-sm' : 'fa-solid fa-eye text-sm'"></i>
        </button>
      </div>
      @if (rePasswordError) {
      <div
        class="p-2 mt-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
        role="alert">
        {{ rePasswordError }}
      </div>
      }

      <!-- Submit button -->
      <button
        type="submit"
        [disabled]="!isValid"
        class="w-full bg-mainColor text-white font-semibold py-3 rounded-full mt-5 hover:opacity-90 transition disabled:opacity-50 disabled:cursor-not-allowed">
        Create New Account
      </button>
    </form>
  </div>
</div>
